### Import libraries

In [139]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings("ignore")

In [42]:
df = pd.read_csv('../data.csv')
df.dropna(inplace=True)
df.head(5)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

### Data Preprocessing

In [43]:
# df['month'] = pd.to_datetime(df['month'], format='%Y-%m')
# df.head(5)

In [44]:
processed_df = df[['month', 'town', 'resale_price']]
processed_df

          month        town  resale_price
0       2017-01  ANG MO KIO      232000.0
1       2017-01  ANG MO KIO      250000.0
2       2017-01  ANG MO KIO      262000.0
3       2017-01  ANG MO KIO      265000.0
4       2017-01  ANG MO KIO      265000.0
...         ...         ...           ...
173329  2024-02      YISHUN      820000.0
173330  2024-02      YISHUN      850000.0
173331  2024-02      YISHUN      795000.0
173332  2024-02      YISHUN      935000.0
173333  2024-02      YISHUN      998000.0

[173334 rows x 3 columns]

In [45]:
# group data by month and town, and retrieve the median resale price for each month for each town
processed_df = processed_df.groupby(['month', 'town']).median().reset_index()
processed_df

        month         town  resale_price
0     2017-01   ANG MO KIO      336500.0
1     2017-01        BEDOK      359000.0
2     2017-01       BISHAN      604000.0
3     2017-01  BUKIT BATOK      338000.0
4     2017-01  BUKIT MERAH      540000.0
...       ...          ...           ...
2229  2024-02    SERANGOON      651000.0
2230  2024-02     TAMPINES      630000.0
2231  2024-02    TOA PAYOH      534000.0
2232  2024-02    WOODLANDS      560000.0
2233  2024-02       YISHUN      483000.0

[2234 rows x 3 columns]

In [46]:
processed_df['month'] = pd.to_datetime(processed_df['month'], format='%Y-%m')
processed_df

          month         town  resale_price
0    2017-01-01   ANG MO KIO      336500.0
1    2017-01-01        BEDOK      359000.0
2    2017-01-01       BISHAN      604000.0
3    2017-01-01  BUKIT BATOK      338000.0
4    2017-01-01  BUKIT MERAH      540000.0
...         ...          ...           ...
2229 2024-02-01    SERANGOON      651000.0
2230 2024-02-01     TAMPINES      630000.0
2231 2024-02-01    TOA PAYOH      534000.0
2232 2024-02-01    WOODLANDS      560000.0
2233 2024-02-01       YISHUN      483000.0

[2234 rows x 3 columns]

In [186]:
# get unique towns
towns = processed_df['town'].unique()
towns

array(['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
       'BUKIT PANJANG', 'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG',
       'CLEMENTI', 'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
       'KALLANG/WHAMPOA', 'MARINE PARADE', 'PASIR RIS', 'PUNGGOL',
       'QUEENSTOWN', 'SEMBAWANG', 'SENGKANG', 'SERANGOON', 'TAMPINES',
       'TOA PAYOH', 'WOODLANDS', 'YISHUN'], dtype=object)

In [215]:
town = 'GEYLANG'
train_df_town = train_df[train_df['town'] == town]

In [216]:
# for one town

from statsmodels.tsa.arima.model import ARIMA
from pandas.tseries.offsets import DateOffset

train_df_town.set_index('month', inplace=True)

model = ARIMA(train_df_town['resale_price'], order=(2,2,2))
# MODEL - USE THIS
results = model.fit()
x=results.forecast(84)

# Generate a sequence of future months based on the last known month in the training data
last_month = train_df_town.index[-1]
future_months = [last_month + DateOffset(months=i) for i in range(1, 85)]

# Convert the forecasted values to a DataFrame
forecast_df = x.to_frame()
forecast_df.reset_index(drop=True, inplace=True)  # Reset index to start from 0
forecast_df.columns = ['resale_price']  # Update column name

# Add the 'month' and 'town' columns
forecast_df['month'] = future_months
forecast_df['town'] = 'CENTRAL AREA'

# Reorder columns
forecast_df = forecast_df[['month', 'resale_price', 'town']]

forecast_df

        month   resale_price          town
0  2024-01-01  451953.301754  CENTRAL AREA
1  2024-02-01  465948.993127  CENTRAL AREA
2  2024-03-01  463989.240113  CENTRAL AREA
3  2024-04-01  457268.134844  CENTRAL AREA
4  2024-05-01  449294.122999  CENTRAL AREA
..        ...            ...           ...
79 2030-08-01 -179840.950356  CENTRAL AREA
80 2030-09-01 -188231.214374  CENTRAL AREA
81 2030-10-01 -196621.478393  CENTRAL AREA
82 2030-11-01 -205011.742411  CENTRAL AREA
83 2030-12-01 -213402.006429  CENTRAL AREA

[84 rows x 3 columns]

In [211]:
# for multiple towns

forecast_dfs = []

for town in towns:
    train_df_town = train_df[train_df['town'] == town]
    # train_df_town.set_index('month', inplace=True)
    # order = (2, 2, 2)

    # model = ARIMA(train_df_town['resale_price'], order=order)
    # results = model.fit()
    # forecast = results.forecast(steps=84)
    
    # # Convert forecast series to DataFrame
    # forecast_df = forecast.to_frame()
    # forecast_df.reset_index(inplace=True)
    # forecast_df.columns = ['month', 'resale_price']
    # forecast_df['town'] = town
    train_df_town.set_index('month', inplace=True)
    model = ARIMA(train_df_town['resale_price'], order=(2,2,2))
    # MODEL - USE THIS
    results = model.fit()
    x=results.forecast(84)

    # Generate a sequence of future months based on the last known month in the training data
    last_month = train_df_town.index[-1]
    future_months = [last_month + DateOffset(months=i) for i in range(1, 85)]

    # Convert the forecasted values to a DataFrame
    forecast_df = x.to_frame()
    forecast_df.reset_index(drop=True, inplace=True)  # Reset index to start from 0
    forecast_df.columns = ['resale_price']  # Update column name

    # Add the 'month' and 'town' columns
    forecast_df['month'] = future_months
    forecast_df['town'] = town

    # Reorder columns
    forecast_df = forecast_df[['month', 'resale_price', 'town']]
    
    # Append forecast DataFrame to the list
    forecast_dfs.append(forecast_df)

# Concatenate all forecast DataFrames
forecast_df_all = pd.concat(forecast_dfs, ignore_index=True)

# Output the concatenated forecast DataFrame
forecast_df_all

          month   resale_price        town
0    2024-01-01  447070.169916  ANG MO KIO
1    2024-02-01  450014.628595  ANG MO KIO
2    2024-03-01  455423.417944  ANG MO KIO
3    2024-04-01  460234.502968  ANG MO KIO
4    2024-05-01  465132.288019  ANG MO KIO
...         ...            ...         ...
2179 2030-08-01  743444.425683      YISHUN
2180 2030-09-01  746386.396886      YISHUN
2181 2030-10-01  749328.368090      YISHUN
2182 2030-11-01  752270.339294      YISHUN
2183 2030-12-01  755212.310498      YISHUN

[2184 rows x 3 columns]

In [213]:
import json
import pandas as pd

# Assuming forecast_df_all is your DataFrame containing the data

# Convert the 'month' column to datetime
forecast_df_all['month'] = pd.to_datetime(forecast_df_all['month'])

# Group the data by town and year
grouped_data = forecast_df_all.groupby(['town', forecast_df_all['month'].dt.year])

# Initialize a dictionary to store the results
result_dict = {}

# Iterate over the grouped data
for (town, year), group in grouped_data:
    # Calculate the median resale price for each group
    median_price = int(group['resale_price'].median())
    
    # If the town is not in the result_dict, add it
    if town not in result_dict:
        result_dict[town] = {
            "town": str(town),
            "data": []
        }
    
    # Append the data for this group to the result list
    result_dict[town]["data"].append({
        "medianPrice": median_price, "year": int(year)
    })

# Convert the dictionary values to a list
result = list(result_dict.values())

# Convert the result to JSON
json_result = json.dumps(result, indent=2)
print(json_result)

[
  {
    "town": "ANG MO KIO",
    "data": [
      {
        "medianPrice": 472475,
        "year": 2024
      },
      {
        "medianPrice": 531203,
        "year": 2025
      },
      {
        "medianPrice": 589931,
        "year": 2026
      },
      {
        "medianPrice": 648659,
        "year": 2027
      },
      {
        "medianPrice": 707387,
        "year": 2028
      },
      {
        "medianPrice": 766115,
        "year": 2029
      },
      {
        "medianPrice": 824843,
        "year": 2030
      }
    ]
  },
  {
    "town": "BEDOK",
    "data": [
      {
        "medianPrice": 518308,
        "year": 2024
      },
      {
        "medianPrice": 586066,
        "year": 2025
      },
      {
        "medianPrice": 653825,
        "year": 2026
      },
      {
        "medianPrice": 721583,
        "year": 2027
      },
      {
        "medianPrice": 789342,
        "year": 2028
      },
      {
        "medianPrice": 857100,
        "year": 2029
      },
      {
        "medianPrice": 924859,
        "year": 2030
      }
    ]
  },
  {
    "town": "BISHAN",
    "data": [
      {
        "medianPrice": 870612,
        "year": 2024
      },
      {
        "medianPrice": 984432,
        "year": 2025
      },
      {
        "medianPrice": 1098262,
        "year": 2026
      },
      {
        "medianPrice": 1212097,
        "year": 2027
      },
      {
        "medianPrice": 1325935,
        "year": 2028
      },
      {
        "medianPrice": 1439774,
        "year": 2029
      },
      {
        "medianPrice": 1553614,
        "year": 2030
      }
    ]
  },
  {
    "town": "BUKIT BATOK",
    "data": [
      {
        "medianPrice": 570906,
        "year": 2024
      },
      {
        "medianPrice": 645823,
        "year": 2025
      },
      {
        "medianPrice": 720740,
        "year": 2026
      },
      {
        "medianPrice": 795657,
        "year": 2027
      },
      {
        "medianPrice": 870574,
        "year": 2028
      },
      {
        "medianPrice": 945491,
        "year": 2029
      },
      {
        "medianPrice": 1020408,
        "year": 2030
      }
    ]
  },
  {
    "town": "BUKIT MERAH",
    "data": [
      {
        "medianPrice": 808400,
        "year": 2024
      },
      {
        "medianPrice": 915019,
        "year": 2025
      },
      {
        "medianPrice": 1021638,
        "year": 2026
      },
      {
        "medianPrice": 1128257,
        "year": 2027
      },
      {
        "medianPrice": 1234876,
        "year": 2028
      },
      {
        "medianPrice": 1341494,
        "year": 2029
      },
      {
        "medianPrice": 1448113,
        "year": 2030
      }
    ]
  },
  {
    "town": "BUKIT PANJANG",
    "data": [
      {
        "medianPrice": 562308,
        "year": 2024
      },
      {
        "medianPrice": 589145,
        "year": 2025
      },
      {
        "medianPrice": 615983,
        "year": 2026
      },
      {
        "medianPrice": 642823,
        "year": 2027
      },
      {
        "medianPrice": 669662,
        "year": 2028
      },
      {
        "medianPrice": 696501,
        "year": 2029
      },
      {
        "medianPrice": 723341,
        "year": 2030
      }
    ]
  },
  {
    "town": "BUKIT TIMAH",
    "data": [
      {
        "medianPrice": 1197494,
        "year": 2024
      },
      {
        "medianPrice": 1614846,
        "year": 2025
      },
      {
        "medianPrice": 2032973,
        "year": 2026
      },
      {
        "medianPrice": 2451100,
        "year": 2027
      },
      {
        "medianPrice": 2869226,
        "year": 2028
      },
      {
        "medianPrice": 3287353,
        "year": 2029
      },
      {
        "medianPrice": 3705480,
        "year": 2030
      }
    ]
  },
  {
    "town": "CENTRAL AREA",
    "data": [
      {
        "medianPrice": 528807,
        "year": 2024
      },
      {
        "medianPrice": 537853,
        "year": 2025
      },
      {
        "medianPrice": 546828,
        "year": 2026
      },
      {
        "medianPrice": 555802,
        "year": 2027
      },
      {
        "medianPrice": 564777,
        "year": 2028
      },
      {
        "medianPrice": 573751,
        "year": 2029
      },
      {
        "medianPrice": 582726,
        "year": 2030
      }
    ]
  },
  {
    "town": "CHOA CHU KANG",
    "data": [
      {
        "medianPrice": 562793,
        "year": 2024
      },
      {
        "medianPrice": 635207,
        "year": 2025
      },
      {
        "medianPrice": 707920,
        "year": 2026
      },
      {
        "medianPrice": 780634,
        "year": 2027
      },
      {
        "medianPrice": 853348,
        "year": 2028
      },
      {
        "medianPrice": 926062,
        "year": 2029
      },
      {
        "medianPrice": 998776,
        "year": 2030
      }
    ]
  },
  {
    "town": "CLEMENTI",
    "data": [
      {
        "medianPrice": 519681,
        "year": 2024
      },
      {
        "medianPrice": 554282,
        "year": 2025
      },
      {
        "medianPrice": 589039,
        "year": 2026
      },
      {
        "medianPrice": 623796,
        "year": 2027
      },
      {
        "medianPrice": 658553,
        "year": 2028
      },
      {
        "medianPrice": 693310,
        "year": 2029
      },
      {
        "medianPrice": 728067,
        "year": 2030
      }
    ]
  },
  {
    "town": "GEYLANG",
    "data": [
      {
        "medianPrice": 436823,
        "year": 2024
      },
      {
        "medianPrice": 336160,
        "year": 2025
      },
      {
        "medianPrice": 235477,
        "year": 2026
      },
      {
        "medianPrice": 134793,
        "year": 2027
      },
      {
        "medianPrice": 34110,
        "year": 2028
      },
      {
        "medianPrice": -66572,
        "year": 2029
      },
      {
        "medianPrice": -167255,
        "year": 2030
      }
    ]
  },
  {
    "town": "HOUGANG",
    "data": [
      {
        "medianPrice": 602220,
        "year": 2024
      },
      {
        "medianPrice": 679089,
        "year": 2025
      },
      {
        "medianPrice": 755986,
        "year": 2026
      },
      {
        "medianPrice": 832885,
        "year": 2027
      },
      {
        "medianPrice": 909785,
        "year": 2028
      },
      {
        "medianPrice": 986684,
        "year": 2029
      },
      {
        "medianPrice": 1063583,
        "year": 2030
      }
    ]
  },
  {
    "town": "JURONG EAST",
    "data": [
      {
        "medianPrice": 496290,
        "year": 2024
      },
      {
        "medianPrice": 519282,
        "year": 2025
      },
      {
        "medianPrice": 542495,
        "year": 2026
      },
      {
        "medianPrice": 565699,
        "year": 2027
      },
      {
        "medianPrice": 588903,
        "year": 2028
      },
      {
        "medianPrice": 612106,
        "year": 2029
      },
      {
        "medianPrice": 635310,
        "year": 2030
      }
    ]
  },
  {
    "town": "JURONG WEST",
    "data": [
      {
        "medianPrice": 556394,
        "year": 2024
      },
      {
        "medianPrice": 628749,
        "year": 2025
      },
      {
        "medianPrice": 701061,
        "year": 2026
      },
      {
        "medianPrice": 773374,
        "year": 2027
      },
      {
        "medianPrice": 845686,
        "year": 2028
      },
      {
        "medianPrice": 917999,
        "year": 2029
      },
      {
        "medianPrice": 990311,
        "year": 2030
      }
    ]
  },
  {
    "town": "KALLANG/WHAMPOA",
    "data": [
      {
        "medianPrice": 683827,
        "year": 2024
      },
      {
        "medianPrice": 775106,
        "year": 2025
      },
      {
        "medianPrice": 866162,
        "year": 2026
      },
      {
        "medianPrice": 957217,
        "year": 2027
      },
      {
        "medianPrice": 1048272,
        "year": 2028
      },
      {
        "medianPrice": 1139327,
        "year": 2029
      },
      {
        "medianPrice": 1230382,
        "year": 2030
      }
    ]
  },
  {
    "town": "MARINE PARADE",
    "data": [
      {
        "medianPrice": 539578,
        "year": 2024
      },
      {
        "medianPrice": 558956,
        "year": 2025
      },
      {
        "medianPrice": 578269,
        "year": 2026
      },
      {
        "medianPrice": 597581,
        "year": 2027
      },
      {
        "medianPrice": 616893,
        "year": 2028
      },
      {
        "medianPrice": 636206,
        "year": 2029
      },
      {
        "medianPrice": 655518,
        "year": 2030
      }
    ]
  },
  {
    "town": "PASIR RIS",
    "data": [
      {
        "medianPrice": 696687,
        "year": 2024
      },
      {
        "medianPrice": 786906,
        "year": 2025
      },
      {
        "medianPrice": 877266,
        "year": 2026
      },
      {
        "medianPrice": 967626,
        "year": 2027
      },
      {
        "medianPrice": 1057986,
        "year": 2028
      },
      {
        "medianPrice": 1148346,
        "year": 2029
      },
      {
        "medianPrice": 1238706,
        "year": 2030
      }
    ]
  },
  {
    "town": "PUNGGOL",
    "data": [
      {
        "medianPrice": 628003,
        "year": 2024
      },
      {
        "medianPrice": 705565,
        "year": 2025
      },
      {
        "medianPrice": 785045,
        "year": 2026
      },
      {
        "medianPrice": 864560,
        "year": 2027
      },
      {
        "medianPrice": 944075,
        "year": 2028
      },
      {
        "medianPrice": 1023590,
        "year": 2029
      },
      {
        "medianPrice": 1103106,
        "year": 2030
      }
    ]
  },
  {
    "town": "QUEENSTOWN",
    "data": [
      {
        "medianPrice": 777404,
        "year": 2024
      },
      {
        "medianPrice": 835001,
        "year": 2025
      },
      {
        "medianPrice": 882612,
        "year": 2026
      },
      {
        "medianPrice": 930043,
        "year": 2027
      },
      {
        "medianPrice": 977471,
        "year": 2028
      },
      {
        "medianPrice": 1024899,
        "year": 2029
      },
      {
        "medianPrice": 1072327,
        "year": 2030
      }
    ]
  },
  {
    "town": "SEMBAWANG",
    "data": [
      {
        "medianPrice": 595743,
        "year": 2024
      },
      {
        "medianPrice": 672810,
        "year": 2025
      },
      {
        "medianPrice": 749894,
        "year": 2026
      },
      {
        "medianPrice": 826979,
        "year": 2027
      },
      {
        "medianPrice": 904063,
        "year": 2028
      },
      {
        "medianPrice": 981148,
        "year": 2029
      },
      {
        "medianPrice": 1058233,
        "year": 2030
      }
    ]
  },
  {
    "town": "SENGKANG",
    "data": [
      {
        "medianPrice": 606843,
        "year": 2024
      },
      {
        "medianPrice": 665419,
        "year": 2025
      },
      {
        "medianPrice": 735016,
        "year": 2026
      },
      {
        "medianPrice": 806365,
        "year": 2027
      },
      {
        "medianPrice": 877992,
        "year": 2028
      },
      {
        "medianPrice": 949664,
        "year": 2029
      },
      {
        "medianPrice": 1021342,
        "year": 2030
      }
    ]
  },
  {
    "town": "SERANGOON",
    "data": [
      {
        "medianPrice": 626596,
        "year": 2024
      },
      {
        "medianPrice": 708000,
        "year": 2025
      },
      {
        "medianPrice": 789422,
        "year": 2026
      },
      {
        "medianPrice": 870853,
        "year": 2027
      },
      {
        "medianPrice": 952287,
        "year": 2028
      },
      {
        "medianPrice": 1033723,
        "year": 2029
      },
      {
        "medianPrice": 1115161,
        "year": 2030
      }
    ]
  },
  {
    "town": "TAMPINES",
    "data": [
      {
        "medianPrice": 651636,
        "year": 2024
      },
      {
        "medianPrice": 737663,
        "year": 2025
      },
      {
        "medianPrice": 823697,
        "year": 2026
      },
      {
        "medianPrice": 909730,
        "year": 2027
      },
      {
        "medianPrice": 995764,
        "year": 2028
      },
      {
        "medianPrice": 1081797,
        "year": 2029
      },
      {
        "medianPrice": 1167831,
        "year": 2030
      }
    ]
  },
  {
    "town": "TOA PAYOH",
    "data": [
      {
        "medianPrice": 660120,
        "year": 2024
      },
      {
        "medianPrice": 743339,
        "year": 2025
      },
      {
        "medianPrice": 827400,
        "year": 2026
      },
      {
        "medianPrice": 911466,
        "year": 2027
      },
      {
        "medianPrice": 995532,
        "year": 2028
      },
      {
        "medianPrice": 1079597,
        "year": 2029
      },
      {
        "medianPrice": 1163663,
        "year": 2030
      }
    ]
  },
  {
    "town": "WOODLANDS",
    "data": [
      {
        "medianPrice": 613019,
        "year": 2024
      },
      {
        "medianPrice": 692440,
        "year": 2025
      },
      {
        "medianPrice": 771806,
        "year": 2026
      },
      {
        "medianPrice": 851172,
        "year": 2027
      },
      {
        "medianPrice": 930538,
        "year": 2028
      },
      {
        "medianPrice": 1009903,
        "year": 2029
      },
      {
        "medianPrice": 1089269,
        "year": 2030
      }
    ]
  },
  {
    "town": "YISHUN",
    "data": [
      {
        "medianPrice": 527550,
        "year": 2024
      },
      {
        "medianPrice": 562525,
        "year": 2025
      },
      {
        "medianPrice": 597817,
        "year": 2026
      },
      {
        "medianPrice": 633120,
        "year": 2027
      },
      {
        "medianPrice": 668424,
        "year": 2028
      },
      {
        "medianPrice": 703727,
        "year": 2029
      },
      {
        "medianPrice": 739031,
        "year": 2030
      }
    ]
  }
]

In [214]:
# save json_result to a file
with open('forecast.json', 'w') as f:
    f.write(json_result)